:root {
  --clr-violet: #666ca3;
  --clr-dark-violet: #13183f;
  --clr-gray: #83869a;
  --clr-pink: #f74780;
  --clr-rose: #ffa7c3;
  --clr-white: #ffffff;

  --clr-grad-orange: #ff6f48;
  --clr-grad-pink: #f02aa6;

  --clr-grad-blue: #4851ff;

  --px-base: 16px;
  --px-xs: 18px;
  --px-s: 24px;
  --px-m: 32px;
  --px-l: 40px;
  --px-xl: 56px;
}
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: var(--px-base);
}
.outer-container {
  padding-inline: 1rem;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}
.header {
  display: flex;
  justify-content: space-between;

  margin-top: 1rem;
  margin-bottom: 2.5rem;

  font-size: 28px;
  font-weight: 800;
  color: var(--clr-dark-violet);
}

.company-name {
  align-self: center;
}
.button-header {
  font-family: inherit;
  font-size: var(--px-xs);

  color: var(--clr-white);

  background-color: var(--clr-dark-violet);
  border: none;
  border-radius: var(--px-m);
  padding-block: 1rem;
  padding-inline: var(--px-m);
}
h1 {
  font-size: var(--px-l);
  font-weight: 800;

  color: var(--clr-dark-violet);
}
h2 {
  background: linear-gradient(var(--clr-grad-orange), var(--clr-grad-pink));
  color: var(--clr-white);

  font-size: var(--px-s);

  border-radius: 0.65rem;
  padding-block: var(--px-s) var(--px-m);
  padding-inline: var(--px-s);
}
h3 {
  font-size: var(--px-s);
  color: var(--clr-dark-violet);
  padding-bottom: 1rem;
}
svg {
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.description-text {
  color: var(--clr-gray);
  line-height: 26px;
  margin-top: -0.5rem;
}
.button-main {
  background: linear-gradient(var(--clr-grad-orange), var(--clr-grad-pink));
  border: none;
  border-radius: var(--px-m);

  font-family: inherit;
  font-size: inherit;
  color: var(--clr-white);

  padding-block: 1rem;
  padding-inline: 2.3rem;
  margin-top: var(--px-xl);
  margin-bottom: var(--px-m);
}

.mobile-img {
  object-fit: contain;

  width: 100%;
  height: 100%;
}
.topic-container {
  padding-bottom: calc(var(--px-l) * 2);
}
.course-list {
  border-radius: 0.65rem;
  background-color: var(--clr-white);

  padding-left: var(--px-s);
  margin-top: 3rem;
  padding-bottom: 1.5rem;
}
.btn-course-list {
  font-size: var(--px-xs);
  font-weight: 700;
  color: var(--clr-grad-pink);
  background-color: var(--clr-white);
  border: none;
  margin-left: -0.5rem;
  padding-right: 2rem;
  padding-block: 1rem;
}
.footer {
  display: flex;
  background-color: var(--clr-dark-violet);
  color: var(--clr-white);
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  padding-inline: 1rem;

  font-size: 28px;
  font-weight: 800;
}
.button-footer {
  font-family: inherit;
  font-size: var(--px-xs);

  color: var(--clr-white);

  background: linear-gradient(var(--clr-grad-blue), var(--clr-grad-pink));
  border: none;
  border-radius: var(--px-m);
  padding-block: 1rem;
  padding-inline: var(--px-m);
}
.desktop-img {
  display: none;
}

@media screen and (min-width: 750px) {
  .outer-container {
    padding-inline: 3rem;
  }
  .heading-container {
    display: flex;
    border: #f02aa6 solid 3px;
  }
  .title-container {
    max-width: 59%;
  }
  .image-container {
    border: #ff6f48 solid 4px;
  }
  .mobile-img {
    display: none;
  }
  .desktop-image {
    display: block;
  }
  .topic-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .course-list-header {
    margin-top: 3rem;
  }
  h2 {
    padding-inline: 2rem;
    padding-top: 3rem;
    padding-bottom: 8rem;
  }
}
@media screen and (min-width: 1400px) {
  .topic-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .course-list {
    padding: 4rem;
  }
}
