:root {
  --clr-violet: #666ca3;
  --clr-dark-violet: #13183f;
  --clr-gray: #83869a;
  --clr-pink: #f74780;
  --clr-rose: #ffa7c3;
  --clr-white: #ffffff;

  --clr-grad-orange: #ff6f48;
  --clr-grad-pink: #f02aa6;

  --clr-grad-blue: #4851ff;

  --px-base: 16px;
  --px-xs: 18px;
  --px-s: 24px;
  --px-m: 32px;
  --px-l: 40px;
  --px-xl: 56px;
}
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: var(--px-base);
}
h1 {
  font-size: var(--px-l);
  font-weight: 800;

  color: var(--clr-dark-violet);
}
h3 {
  font-size: var(--px-s);
  color: var(--clr-dark-violet);
  padding-bottom: 1rem;
}
svg {
  margin-top: -2rem;
  margin-bottom: 1rem;
}
.button {
  font-family: inherit;
  font-size: var(--px-xs);
  border: none;

  color: var(--clr-white);

  border-radius: var(--px-m);
  padding-block: 1rem;
  padding-inline: var(--px-m);
}
.outer-container {
  padding-inline: 1rem;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}
.header {
  display: flex;
  justify-content: space-between;

  margin-top: 1rem;
  margin-bottom: 2.5rem;
  margin-left: -0.5rem;
  padding-right: 2rem;
  padding-block: 1rem;

  font-size: 28px;
  font-weight: 800;
  color: var(--clr-dark-violet);
}

.company-name {
  align-self: center;
}
.button-header {
  color: var(--clr-white);

  background-color: var(--clr-dark-violet);
}
.button-header:hover {
  cursor: pointer;
  background-color: var(--clr-violet);
}

.course-list-header {
  background: linear-gradient(var(--clr-grad-orange), var(--clr-grad-pink));
  color: var(--clr-white);

  font-size: var(--px-xs);

  border-radius: 0.65rem;
  padding-block: var(--px-m) var(--px-m);
  padding-inline: var(--px-m) var(--px-m);
}

.description-text {
  color: var(--clr-gray);
  line-height: 26px;
  margin-top: -0.5rem;
}
.button-main {
  background: linear-gradient(var(--clr-grad-orange), var(--clr-grad-pink));

  padding-block: 1rem;
  padding-inline: 2.3rem;
  margin-top: var(--px-xl);
  margin-bottom: var(--px-m);
}
.button-main:hover {
  cursor: pointer;
  background: linear-gradient(rgba(255, 111, 72, 0.7), rgba(240, 42, 166, 0.7));
}

.mobile-img {
  object-fit: contain;

  width: 100%;
  height: 100%;
}
.topic-container {
  padding-bottom: calc(var(--px-l) * 2);
}
.course-list {
  border-radius: 0.65rem;
  background-color: var(--clr-white);

  padding-left: var(--px-s);
  margin-top: 3rem;
  padding-bottom: 1.5rem;
}
.btn-course-list {
  font-size: var(--px-xs);
  font-weight: 700;
  color: var(--clr-grad-pink);
  background-color: var(--clr-white);
}
.footer {
  display: flex;
  background-color: var(--clr-dark-violet);
  color: var(--clr-white);
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  padding-inline: 1rem;

  font-size: 28px;
  font-weight: 800;
}
.button-footer {
  background: linear-gradient(var(--clr-grad-blue), var(--clr-grad-pink));
}
.button-footer:hover {
  cursor: pointer;
  background: linear-gradient(rgba(72, 81, 255, 0.9), rgba(240, 42, 166, 0.9));
}

.tablet-img {
  display: none;
}
.desktop-img {
  display: none;
}

@media screen and (min-width: 750px) {
  .heading-container {
    display: flex;
  }
  .tablet-img {
    display: block;
    width: 200%;
    height: auto;
    position: relative;
    bottom: 11rem;
    right: 1.25rem;
  }

  .mobile-img {
    display: none;
  }
  .desktop-img {
    display: none;
  }

  .topic-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .course-list-header {
    margin-top: 3rem;
  }
  .description-text {
    padding-inline: 0;
  }
  h1 {
    padding-block: var(--px-s);
  }
  h2 {
    padding-inline: 2rem;
    padding-top: 3rem;
    padding-bottom: 8rem;
  }
}
@media screen and (min-width: 919px) {
  .topic-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .heading-container {
    min-height: 25rem;
  }
  .image-container {
    width: 40%;
  }
  .course-list {
    padding: 4rem;
  }
  .mobile-img {
    display: none;
  }
  .tablet-img {
    display: none;
  }
  .desktop-img {
    display: block;

    width: 50rem;
    height: auto;
    position: absolute;
    top: -4rem;
    right: -15rem;
  }
}
